<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, shrink-to-fit=no"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>{% block title %}Frequency{% endblock %}</title>

    {% block importmap %}
        {{ importmap('app') }}
    {% endblock %}

    {% block stylesheets %}
    {% endblock %}

    {% block javascripts %}
    {% endblock %}
</head>
<body data-turbo="false">
<div class="page">
    {% block header %}
        <header class="navbar navbar-expand-md d-print-none">
        </header>
        <br>
    {% endblock %}
    {% block body %}
    {% endblock %}
</div>
</body>
</html>
