{% extends 'base.html.twig' %}

{% block title %}Users overview{% endblock %}

{% block body %}
    <div class="page">
        <div class="container">
            <div class="card">
                <div class="container-xl">
                    <div class="card-header justify-content-center">
                        <h1>Calculator output</h1>
                    </div>
                <div class="card-body">
                <p id="output">Your 1RM is: 0</p>
                <p id="bodyOutput">You can lift your bodyweight: 0x</p>
                <p></p>
                </div>
            </div>
        </div>
        <br>
        <div class="card">
        <div class="container container-tight py-4">
            <div class="card">
                <div class="text-center mb-4">
                    <div class="card card-md">
                        <div class="card-body">
                        <h2 class="h2 text-center mb-4">StrengthCalculator</h2>
                            <form id="StrengthForm" onsubmit="return Calculate()">
                                <div class="mb-3">
                                    <label class="form-label" for="Option">BenchPress or Deadlift</label>
                                    <input type="text" class="form-control" id="Option" name="Calc">
                                </div>
                                <div class="mb-3">
                                    <label class="form-label" for="BodyWeight">BodyWeight</label>
                                    <input type="number" class="form-control" id="BodyWeight">
                                </div>
                                <div class="mb-2">
                                    <label class="form-label" for="Weight">Weight</label>
                                    <div class="input-group input-group-flat"></div>
                                    <input type="number" class="form-control" id="Weight">
                                </div>
                                <div class="mb-2">
                                    <label class="form-label" for="Reps">Reps</label>
                                    <div class="input-group input-group-flat"></div>
                                    <input type="number" class="form-control" id="Reps">
                                </div>
                                <div class="form-footer">
                                    <button type="submit" class="btn btn-primary w-100">
                                    Submit
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <br>
        <div class="container">
            <div class="card">
                <div class="container-xl">
                    <div class="card-header justify-content-center">
                        <h1>Calculator Description</h1>
                    </div>
                <div class="card-body text-center">
                <p>This website helps you estimate your one-rep max (1RM) for bench press and deadlift.</p>
                <p>It uses a proven formula to calculate the maximum weight you can lift for a single repetition.</p>
                <p>Simply enter the weight you lifted and the number of reps performed.</p>
                <p>The calculator will instantly provide an accurate estimate of your 1RM.</p>
                <p>Use this tool to track your progress and set new strength goals.</p>
                <p>Whether you're a beginner or an advanced lifter,
                this calculator is a great way to measure your strength potential.</p>
                <p>Note: the calculations are not 100% accurate, since it differs per person</p>
                </div>
            </div>
        </div>
{% endblock %}
{% block javascripts %}
<script>
    function Calculate() {
        let option = document.getElementById("Option").value;
        let bodyWeight = document.getElementById("BodyWeight").value;
        let weight =parseFloat(document.getElementById("Weight").value);
        let reps = parseInt(document.getElementById("Reps").value);
        let output;

        if (option === "BenchPress") {
            output = weight * reps * 0.0333 + weight;
        }else if(option === "Deadlift") {
            output = weight * 1.1307 + 0.6998;
        } else {
            console.log("Nothing to calculate");
        }

        document.getElementById("output").innerText = `Your 1RM is: ${output.toFixed(2)}`;

        let calcBodyWeight = output / bodyWeight;

        let liftMore = "You should train more. You can do this by setting goals on what you want to achieve. " +
         "Do you want to gain muscle, or do you want to gain strength? These things can help you on your journey, " +
          "Also listen to your body. If you overtrain to much, you will lose motivation really fast. " +
           "Getting enough rest will also help you see progress much faster."
        let experienced = "You are really experieced in the gym. Keep going with what you are doing right now" +
         " You are doing great:)"
        let NewGym = "You are probably new to the gym. You should train more. Things that can help you with this is" +
         "to make schedules. How many times a week can you train, What do you want to achieve etc. " +
          "Do not be afraid to ask people you know or dont know for help. You can approach people in the gym to ask " +
           "them for help."

        if (calcBodyWeight < 1.00) {
            document.getElementById("bodyOutput").innerText = `You can lift your bodyweight: ${calcBodyWeight.toFixed(2)}x
            ${NewGym}`;
        } else if (calcBodyWeight > 1.20) {
            document.getElementById("bodyOutput").innerText = `You can lift your bodyweight: ${calcBodyWeight.toFixed(2)}x
            ${experienced}`;
        } else if (calcBodyWeight >1.00){
            document.getElementById("bodyOutput").innerText = `You can lift your bodyweight: ${calcBodyWeight.toFixed(2)}x
             ${liftMore}`;
        }

        return false;
    }
</script>
{% endblock %}