{% extends 'base.html.twig' %}

{% block title %}Scale Calculator {% endblock %}

{% block body %}
    <div class="container">
        <div class="card">
            <div class="card-header g-2 d-flex justify-content-between">
                <div>
                    <div class="page-title">
                        Leaderboards
                    </div>
                    <h2 class="page-pretitle">
                        Keep track of personal records!
                    </h2>
                </div>
                <div class="d-flex justify-content-end">
                    <div class="btn btn-primary">
                        <a href="{{ path('app_index') }}" class="text-decoration-none">
                            <span class="me-2 text-white">Get on the leaderboards!</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="card-table">
                <div style="overflow-x:auto">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>1RM deadLift</th>
                            <th>1RM benchPress</th>
                            <th>bodyWeight</th>
                            <th>Rank</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Admin</td>
                            <td>110</td>
                            <td>62.5</td>
                            <td>65</td>
                            <td>Real gym rat🐀 </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}