{% extends 'base.html.twig' %}

{% block title %}Scale Calculator {% endblock %}

{% block body %}
    <div class="page">
        <div class="container">
            <div class="card">
                <div class="container-xl">
                    <div class="card-header justify-content-center">
                        <h1>Scale Api </h1>
                    </div>
                    <div class="card-body text-center">
                        <h1>Scale Api output</h1>
                    </div>
                </div>
            </div>
        <br>
        <div class="card">
            <div class="container container-tight py-4">
                <div class="card">
                    <div class="text-center mb-4">
                        <div class="card card-md">
                            <div class="card-body">
                                <h1>Scale Api Data</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <br>
    <div class="container">
        <div class="card">
            <div class="container-xl">
                <div class="card-header justify-content-center">
                    <h1>Calculator Description</h1>
                </div>
                <div class="card-body text-center">
                    {# information #}
                </div>
            </div>
        </div>
    </div>
{% endblock %}