{% extends 'base.html.twig' %}

{% block title %}Scale Calculator {% endblock %}

{% block body %}
    <div class="page">
        <div class="container">
            <div class="card">
                <div class="container-xl">
                    <div class="card-header justify-content-center">
                        <h1>Scale Api </h1>
                    </div>
                    <div class="card-body text-center">
                        <h1>Scale Api output information</h1>
                    </div>
                </div>
            </div>
        <br>
        <div class="card">
            <div class="container container-tight py-4">
                <div class="card">
                    <div class="text-center mb-4">
                        <div class="card card-md">
                            <div class="card-body">
                                <h1>Scale Api Data</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <br>
    <div class="container">
        <div class="card">
            <div class="container-xl">
                <div class="card-header justify-content-center">
                    <h1>Scale Description</h1>
                </div>
                <div class="card-body text-center">
                    <p>This website helps you estimate your one-rep max (1RM) for bench press and deadlift.</p>
                    <p>This page in particular, shows the stats of the scale you step on.</p>
                    <p>When stepping on the scale, it will show the results here</p>
                    <p>At the top it will also give additional information about the data</p>
                    <p>This can help you lose fat, gain weight, gain muscle and so much more!</p>
                    <p>Whether you're a beginner or an advanced lifter,
                        this webiste is a great way to measure your strength potential.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}